body{
    background: #7abecc;
}
/* ------------------NAVBAR------------------ */
.mainNav{
    background: #74cfbf;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#hello-msg{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
/* ------------------PRODUCT BROWSING PAGE------------------  */
.productsBrowser{
    display: flex;
    flex-direction: row;

}

/* .productIMGs{
    height: 200px;
    width: 150px;
    padding: 50px
} */

.productItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    background-color: #74cfbf;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.productContainer{
    display: flex;
    overflow-x: auto;
}

.addToCartButton{
    background: #7abecc;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


/* ------------------ABOUT US PAGE------------------  */
.aboutUS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
}

.aboutUStext{
    background-color: #74cfbf;
    padding: 40px;
    font-size: 50px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #888888;
    padding-top: 20px;

}

.shopNow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 40px;
    margin: 0 auto;
    font-size: 50px;
}

.GG{
    font-size: 50px;
    color: #651f16;
}