body{
    background: #7abecc;
}

.mainNav{
    background: #74cfbf;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#hello-msg{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
/* PRODUCT BROWSING PAGE  */
.productsBrowser{
    display: flex;
    flex-direction: row;

}

.productIMGs{
    height: 200px;
    width: 150px;
    padding: 50px
}

.productContainer{
    display: flex;
    overflow-x: auto;
}


/* ABOUT US PAGE  */
.aboutUS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 1px solid black;
    border-radius: 40px;
    
}

.aboutUStext{
    padding: 20px;
    font-size: 50px;

}


/* .shopNow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 40px;
} */

.shopNow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 40px;
    margin: 0 auto;
    font-size: 50px;
}