{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= {% static "styles.css" %}>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<body>
    <nav class="mainNav">
        <a href="{% url 'home' %}">Home</a>
        {% comment %} <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a> {% endcomment %}
        <a href="{% url 'shopping' %}">Browse</a>

        {% if request.user.is_staff %}
            <a href="{% url 'create' %}">Create a Product</a>
            <a href="{% url 'update' %}">Update Products</a>
            <a href="{% url 'delete' %}">Delete Products</a>
        {% endif %}
        <span id="hello-msg">Hello, {{request.user}}</span>
        <span><a href="{% url 'logout' %}">Logout</a></span>
        <a href="{% url 'cart' %}">Cart</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>