{% extends 'base.html' %}
{% block content %}


<div class="product-list">
    <h1>Your Shopping Cart</h1>
{% for order in orders %}
<div class="product-item">
    <p>{{ order.product.name }} ({{ order.quantity }})</p>
    <p>Price: ${{ order.product.price }}</p>
    <a href="{% url 'remove_from_cart' order.id %}">Remove</a>
</div>
{% empty %}
    <p>Your cart is empty.</p>
{% endfor %}
<button class="checkout"><a href="{% url 'clear_cart' %}">Clear Cart</a></button>
</div>
<div class="total">
    <p>Total Price: ${{ total_price|floatformat:2 }}</p>
    <button class="checkout"><a href="{% url 'checkout' %}">Checkout</a></button>
</div>
 



{% comment %} <h1>Cart</h1>
    
    {% if cart %}
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price}}{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
        <p>Total: ${{ total }}</p>
        <button><a href="{% url 'cart' %}">Checkout</a></button>
        <button><a href="{% url 'cart' %}">Clear Cart</a></button>
    {% else %}
        <p>Your cart is empty</p>
    {% endif %} {% endcomment %}
{% endblock content %}