{% extends "base.html" %}
{% block content %}
    <h1 class="loggedIn"> ADMIN HOME PAGE </h1>
    <p class="loggedIn"> Currently logged in as {{ request.user }} </p>
    <h2 class="loggedIn"> Users </h2>
    <ul class="loggedIn">
        {% comment %} {% for user in users %}
            <li> {{ user.username }} </li> {% endcomment %}
        {%for user in users %}
        {% if user.is_staff %}
            <li> {{ user.username }} - Admin </li>
        {% else %}
            <li> {{ user.username }} - Not Admin </li>
        {% endif %}
        {% endfor %}

        {% comment %} {% endfor %} {% endcomment %}

    </ul>
    <h2 class="loggedIn"> Orders </h2>
    <ul class="loggedIn">
        {% for order in orders %}
            <li> {{ order.id }} </li>
        {% endfor %}
    </ul>
    <h2 class="loggedIn">Products</h2>
    <ul class="loggedIn">
        {% for product in products %}
            <li>  {{ product.name }}: ${{ product.price }} - {{product.description}} </li>
        {% endfor %}








    </ul>
{% endblock %}