{% extends "base.html" %}
{% block content %}
    <h1> ADMIN HOME PAGE </h1>
    <p> {{ request.user }} </p>
    <h2> Users </h2>
    <ul>
        {% comment %} {% for user in users %}
            <li> {{ user.username }} </li> {% endcomment %}
        {%for user in users %}
        {% if user.is_staff %}
            <li> {{ user.username }} - Admin </li>
        {% else %}
            <li> {{ user.username }} - Not Admin </li>
        {% endif %}
        {% endfor %}

        {% comment %} {% endfor %} {% endcomment %}

    </ul>
    <h2> Orders </h2>
    <ul>
        {% for order in orders %}
            <li> {{ order.id }} </li>
        {% endfor %}
    </ul>
    <h2>Products</h2>
    <ul>
        {% for product in products %}
            <li>  {{ product.name }}: ${{ product.price }} - {{product.description}} </li>
        {% endfor %}








    </ul>
{% endblock %}