{% extends 'base.html' %}
{% block content %}
<h1>Browse Our Goods!</h1>
<div class="productContainer">
    <ul  class="productsBrowser">
        {% for product in products %}
        <li>
            {% comment %} {% if product.image%} {% endcomment %}
            {% if product.image %}
                <img src="{{ product.image.url }}" class="productIMGs">
            {{ product.name }} - {{ product.price }}
            {% endif %}
            <button class="addToCartButton"><a href="{% url 'cart' %}">Add to Cart</a></button>
            {% comment %} {% endif%} {% endcomment %}
        </li>
        
        {% endfor %}
    </ul>
</div>


{% endblock content %}

