{% extends 'base.html' %}
{% block content %}
<h1 class="productsMainText">Browse Our <span class="GROSS">GROSS GOODS</span></h1>
<div class="productContainer">
    {% for product in products %}
    <div class="productItem">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="productIMG">
        {% endif %}
        <div class="productInfo">
            <h3 class="productNameText">{{ product.name }}</h3>
            <p class="productPriceText">${{ product.price }}</p>
            <p clsas="productDescriptionText">{{ product.description }}</p>
            <button class="addToCartButton"><a href="{% url 'cart' %}">Add to Cart</a></button>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}

