{% extends 'base.html' %}
{% block content %}
<h1>Update Products</h1>
<form method="POST">
    {% csrf_token %}
    <label for="name">Product Name:</label>
    <select name="name" id="name">
        {% for product in products %}
        <option value="{{ product.name }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <label for="new_name">New Product Name:</label>
    <input type="text" name="new_name" id="new_name">
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
    <label for="price">Price:</label>
    <input type="text" name="price" id="price">
    <label for="image">Image:</label>
    <input type="file" name="image" id="image">
    <button type="submit">Update</button>
</form>
{% endblock content%}